@charset "UTF-8";

.header h1
{
  font-size: xx-large;
}

.header h2 
{
  float: left;
  font-weight: bold;
}

.header p
{
  position:relative;
  top:1.5em;
  left:.5em;
  font-size:80%;
}

.value
{
  font-weight: bold;
}

.UpdateLink
{
  font-weight: bold;
  color: black;
}

hr
{
  clear: left;
}

.features
{
  clear: left;
}

.balance
{
  clear: left;
}

.bugfixes
{
  clear: left;
}

.engineering
{
  clear: left;
}

.commentary .base{
  position: relative;
  border-bottom: 1px dotted black;
}

.commentary .tooltip {
  visibility: hidden;
  width: 60%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  left: 10%;
  margin-top: 1.2%;
  margin-left: -60px;
}

.commentary .tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 2%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.commentary:hover .tooltip {
  visibility: visible;
}

#controls {
  border: 2px solid black;
  position: fixed;
  background: white;
  float: right;
  padding: 5px;
  right: 0%;
  bottom: 2%;
  z-index: 9;
}

#header {
  clear: left;
}

.patch {
  color:Blue;
}

.CheckboxLabel {
  position:relative;
  top:-.8em;
  left:-.5em;
}

.row {
  display: flex;
}

.column1 {
  flex: 5%;
  padding: 10px;
  height: 300px;
}

.column2 {
  flex: 80%;
  padding: 10px;
  height: 300px;
}